<div id="content_left">
  <%= image_tag "mkbot.jpg" %>
</div>

<div id="content">
  <h2>PROJECTS</h2>
  Various things I made. A constant work in progress.
  <br>
  <br>

  <% @projects.each do | proj | %>
    <h3><%= proj.title %></h3>
    <small>started: <i><%= proj.created_at %></i>, last update: <i><%= proj.updated_at %></i>, current status: <i>active</i></small>
    <hr>
    <%= markdown(proj.description) %>
  <% end %>
</div>
