<h2>new/edit image</h2>

<%= image_tag @image.file.url(:normal) if @image.file.present? %>

<%= form_for(@image) do |f| %>
	<%= f.file_field :file %>
	<br>
	<%= f.text_area :description%>
	<br>
	<%= f.submit %>
<% end %>
